#menu{
    width: 24%;
    float: left;
}
#contenido{
    width: 50%;
    float: left;
}

#extra{
    width: 24%;
    float: left;
    background-color: #E6DBC8;
    border: 4px dotted #1C80FF;
    border-radius: 20px;
    margin: 5px;
}

#extra img{
    display: block;
    width: 200%;
}