#menu{
    width: 24%;
    float: left;
}

#contenido{
    width: 50%;
    float: left;
}

#extra{
    width: 24%;
    float: left;
    border-radius: 20px;
    margin: 2px;
}

#extra img{
    display: block;
    width: 200%;
}