*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
   
  
}
menu{
    border-radius: 34px 34px 34px 34px;
}

body{
    background-image: url("../imagenes/cielo.gif");
}
/**HEADER**/
#cabecera{
    width: 100%;
    background-image: url("../imagenes/descarga.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 14.1em;
}
#cabecera:hover{
    background-image: url("../imagenes/descarga1.jpg");
}

#cabecera img{
    width: 10em;
    height: 10em;
    position: relative;
    float: left;
    border-radius: 50%;
    top: 2.2em;
    left: 1em;
    transition: transform 2s ease-out;
}
#cabecera>img:hover{
    transform: rotate(360deg);
}
#cabecera h1{
    text-transform: uppercase;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    position: relative;
    top: 2em;
    left: 25px;
    color:white;
}
/**NAV**/
nav{
    clear: both;
    margin: 5px;
    border-radius: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
    transition: 1s ease all;
    background-color: royalblue;
}
nav ul li a:hover{
    background-color: red;
    color: #FFF;
}
nav .ini ul li a{
    display: inline-block;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
    color: red ; font-size: 1cm;
    transition: 1s ease all;
    

    
}
nav .ini ul li a:hover{
    
    background-color: white;
    color: rgb(250, 9, 9);
    
    
}
nav .publi img{
    width: 100%;
}
nav .publi img:hover{
    opacity: .7;
    cursor: pointer;
}
/**BODY SUBMENU**/
#contenido .subMenu{
   
    padding: 10px;
    background-color:royalblue;
    border-radius: 20px;
}
#contenido .subMenu h2{
    text-transform: uppercase;
    color: white;
}
#contenido .subMenu ul{
    text-align: center;
}
#contenido .subMenu li{
    list-style: none;
    display: inline-block;  
}
#contenido .subMenu a{
    text-decoration: none;
    color:white;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    transition: 1s ease all;
}
#contenido .subMenu a:hover{
    text-decoration: underline;
}
/**BODY**/
body #tituloContenido{
    margin: 10px;
    text-transform: uppercase
}
#contenido{
    padding: 10px;

}
#contenido article{
    margin: 10px 0px;
    text-align: justify;
    padding-bottom: 5px;
}
#contenido .subTitulos,h3{
    font-size: 1.5em;
}
#contenido img{
    width: 100%;
    
}
#contenido img:hover{
    opacity: .8;
    
}
/**BODY TABLA**/
#contenido table{
    background-color: royalblue;
   
}
#contenido table,td{
    border: 1px outset mediumblue;
    text-align: left;
    vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
    
}
#contenido table td:hover{
    background-color: red;
}
#contenido td{
    padding: 5px;
    text-align: center;
}

/**ASIDE 1**/
#extra{
    width: 100%;
    display: inline-block;
}
#extra aside{
    width: 45%;
    margin: 10px;
    float: left;
}
#extra img{
    width: 100%; 
}
#extra img:hover{
    opacity: .7;
    cursor: pointer;
    
}
/**ASIDE 2**/
.rg{
    width: 100%;
}
.rg img{
    width: 50%;
    margin: auto;
    display: block;

}

/**FOOTER**/
footer{
    clear: both;
}
footer{
    text-align: center;
    background-color:royalblue;
  
}
footer a{
    text-decoration: none;
    color: red;
}
footer a:hover{
    color: white;

    
}
footer p:hover{
    -moz-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    -o-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2)
}

/**Formulario**/
#contenido .formulario{
    width: 80%;
    margin-top: 20px;
    text-align: center;
}
#contenido .formulario input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: transparent;
    border-bottom: 1px solid #1C80FF;
}
#contenido .formulario input:focus{
    border: 1px solid #1C80FF;
}
#contenido .formulario textarea{
    resize: none;
    width: 100%;
    height: 15em;
    margin: 10px;
    padding: 10px;
    border: 1px solid #1C80FF;
}
#contenido .formulario button{
    width: 40%;
    margin: 10px;
    padding: 10px;
    background: #1C80FF;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.9em;
}
#contenido .formulario button:hover{
    background: #155FBF;
}
#contenido .formulario button:active{
    background: white;
}
#publi{
    width: 45%;
    margin: 10px;
    float: left;
}
